body {
    font-family: cursive;
    background: linear-gradient(-45deg, black, #272727 25%, black);
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0 5%;
}

@media only screen and (max-width: 640px) {
    .banner-img {
        margin-top: 5rem;
    }
    .banner-title {
        margin-top: 0;
    }
    h2 {
        font-size: 18pt;
    }
    h4 {
        font-size: 12pt;
    }
}

.nav.navbar-nav.nav-item-text>li>a {
    color: white;
}

.nav.navbar-nav.nav-item-text>li>a:hover {
    color: wheat;
}

.navbar-brand.nav-header-item {
    color: white;
}

.navbar {
    border: 1;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
}

.banner {
    position: relative;
    display: block;
}

.banner-img {
    border-radius: 0.5rem;
    max-height: 65%;
    filter: brightness(0.80);
}

.banner-title {
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    color: white;
    margin-top: 15%;
    overflow: auto;
}

.banner-title>* {
    text-shadow: 0 0 15px black;
}

.icon {
    width: 80px;
    height: 80px;
}

.content-div {
    min-height: inherit;
}

.swipe-left {
    animation: swipe-left;
    animation-duration: 0.5s;
    animation-timing-function: linear;
}

.swipe-right {
    animation: swipe-right;
    animation-duration: 0.5s;
    animation-timing-function: linear;
}

@keyframes swipe-left {
    0% {
        position: relative;
        right: -50%;
    }
    100% {
        position: relative;
        right: 0;
    }
}

@keyframes swipe-right {
    0% {
        position: relative;
        left: -50%;
    }
    100% {
        position: relative;
        left: 0;
    }
}

.popup {
    animation: popup 0.5s linear;
}

@keyframes popup {
    0% {
        transform: scale(0.8);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.robot::after {
    animation: robot-msg 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    content: 'Hi, tap or drag a icon';
    position: relative;
    padding: 0.3rem 0.5rem;
    border-radius: 0.75rem;
    border-bottom-left-radius: 0;
    background: blueviolet;
    color: white;
    opacity: 0;
}

@keyframes robot-msg {
    0% {
        left: -15%;
        top: 100%;
    }
    100% {
        opacity: 1;
        left: -5%;
        top: 0;
    }
}